@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;700&display=swap');
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.app {
  /* max-width: 1280px; */
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
  font-family: 'Inter', sans-serif;
  transition: 0.3s ease-in-out;
  min-height: 100vh;
}

.app > span {
  position: absolute;
  right: 1rem;
  top: 2rem;
  cursor: pointer;
}

.app > span > img {
  padding: 4px;
  border: 1.6px solid;
  border-radius: 50%;
}

footer {
  margin-top: 3rem;
}

h1 {
  font-size: 20px;
  font-weight: 700;
  margin-bottom: 2rem;
  text-align: center;
}

.dark {
  background-color: #161122;
  color: beige;
  transition: 0.3s ease-in-out;
}